.form-group {
  margin-bottom: 0.5em;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 3px 3px 5px;
}

.form-group__label, .form-group__input {
  display: block;
}

.form-group__input {
  border-radius: 5px;
  padding: 3px;
  font-size: inherit;
}

.form-group__submit {
  margin-top: 0.25em;
  border-radius: 5px;
  font-size: inherit;
}